a {
  text-decoration: none;
 }
 
 html, body {
   margin: 0;
   padding: 0;
 }



.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.green-bttn {
  background-color: #68b738;
}

.green-bttn:hover {
  background-color: #5eaa2f;
}

.green-bttn:active {
  color: rgba(255, 255, 255, 0.3);
}
