@media (max-width: 1439.9px) {
  body {
    position: relative;
    max-width: 1439.9px;
    margin: 0 auto;
   }

  .main-container {
    height: 2400px;
    padding: 0;
    background: -webkit-linear-gradient(top, #233148 0%,#233148 64%,#EAEFF5 64%,#EAEFF5 100%);
  }

  .background-logo {
    position: fixed;
    margin: auto;
    top: 143px;
    left: -50%;
    right: -50%;
  }

  .main-container__inner {
    margin: 0 30px;
  }

  .firstOverlayLine,
  .secondOverlayLine,
  .thirdOverlayLine {
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background: #D9DFE6;
    opacity: 0.2;
  }

  .firstOverlayLine {
    left: 30px;
  }

  .secondOverlayLine {
    left: 50%;
  }

  .thirdOverlayLine {
    right: 30px;
  }

  .top-title__icon {
    margin: 90px 0 0 0;
  }

  .bottom-title__icon {
    margin: 536px 0 0 0;
  }

  .top-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 11px 0 38px 0;
    width: 230px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .top-title._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .blocks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

  }

  .block {
    height: 216px;
    margin: 3px 0 0 0;
  }

  .block__title {
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    margin: 8px 0 28px 0;
  }

  .block__content {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #8796AE;
  }

  .lightpaper {
    position: absolute;
    top: 1148px;
    left: 0;
    height: 410px;
    width: 100%;
    background-color: #1F65D9;

  }

  .lightpaper__img {
    position: absolute;
    top: 1090px;
    right: 0;
    width: 310px;
    height: 400px;
    background-image: url('../img/broshure1.png');
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: 20px 0;
    transform: translate(0, 30%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__img._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .lightpaper__svg {
    position: absolute;
    top: 1310px;
    left: 0;
    width: 200px;
    height: 300px;
    opacity: 0.1;
  }

  .lightpaper__title {
    font-family: "Proxima Nova";
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 190px 0 0 30px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__title._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .lightpaper__subtitle {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin: 36px 0 0 30px;
    width: 200px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__subtitle._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .download-bttn {
    position: absolute;
    left: 0; 
    right: 0;
    margin: 0 10%;
    top: 1530px;
    background-color: #FCCF18;
    font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #233148;;
    padding: 18px 94px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transform: translate(0, 0);
    transition: all 0.5s ease 0s;
  }

  .download-bttn:hover {
    transform: translate(0, 10%);
  }

  .bottom-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #233148;
    margin: 11px 0 38px 0;
    width: 300px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .bottom-title._active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .main-container {
    height: 2400px;
    padding: 0;
    background: -webkit-linear-gradient(top, #233148 0%,#233148 55%,#EAEFF5 55%,#EAEFF5 100%);
  }

  .background-logo {
    position: fixed;
    margin: auto;
    top: 180px;
    left: 0;
    right: 0;
  }

  .main-container__inner {
    margin: 0 136px;
  }

  .firstOverlayLine,
  .secondOverlayLine,
  .thirdOverlayLine {
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background: #D9DFE6;
    opacity: 0.2;
  }

  .firstOverlayLine {
    left: 136px;
  }

  .secondOverlayLine {
    left: 50%;
  }

  .thirdOverlayLine {
    right: 136px;
  }

  .top-title__icon {
    margin: 133px 0 0 0;
    width: 28px;
    height: 29px;
  }

  .bottom-title__icon {
    margin: 572px 0 0 0;
    width: 28px;
    height: 29px;
  }

  .top-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 17px 0 38px 0;
    width: 350px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .top-title._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 100px 100px 0 100px;
    justify-content: space-between;
  }

  .block {
    height: 216px;
    width: 434px;
    margin: 3px 0 115px 0;
  }

  .block-icon {
    width: 52px;
    height: 52px;
  }

  .block__title {
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    margin: 14px 0 40px 0;
  }

  .block__content {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.32px;
    color: #8796AE;
  }

  .lightpaper {
    position: absolute;
    top: 1158px;
    left: 0;
    height: 312px;
    width: 1308px;
    background-color: #1F65D9;

  }

  .lightpaper__img {
    position: absolute;
    top: 1083px;
    right: 105px;
    width: 680px;
    height: 680px;
    background-image: url('../img/broshure1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
    transform: translate(0, 30%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__img._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .lightpaper__svg {
    position: absolute;
    top: 1228px;
    left: 135px;
    width: 250px;
    height: 300px;
    opacity: 0.1;
  }

  .lightpaper__title  {
    font-family: "Proxima Nova";
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 65px 0 0 138px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__title._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .lightpaper__subtitle {
    position: absolute;
    top: 70px;
    left: 400px;
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.8px;
    width: 240px;
    color: #FFFFFF;
    margin: 36px 0 0 30px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__subtitle._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .download-bttn {
    position: absolute;
    left: 233px; 
    top: 1434px;
    background-color: #FCCF18;
    font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #233148;
    padding: 25px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transform: translate(0, 0);
    transition: all 0.5s ease 0s;
  }

  .download-bttn:hover {
    transform: translate(0, 10%);
  }

  .bottom-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #233148;
    margin: 14px 0 38px 0;
    width: 600px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .bottom-title._active {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media (min-width: 1920px) {
  body {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
  }

  .main-container {
    height: 2400px;
    padding: 0;
    background: -webkit-linear-gradient(top, #233148 0%,#233148 55%,#EAEFF5 55%,#EAEFF5 100%);
    
  }

  .background-logo {
    position: fixed;
    margin: auto;
    top: 180px;
    left: 0;
    right: 0;
  }

  .main-container__inner {
    margin: 0 375px;
  }

  .firstOverlayLine,
  .secondOverlayLine,
  .thirdOverlayLine {
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background: #D9DFE6;
    opacity: 0.2;
  }

  .firstOverlayLine {
    left: 375px;
  }

  .secondOverlayLine {
    left: 50%;
  }

  .thirdOverlayLine {
    right: 375px;
  }

  .top-title__icon {
    margin: 133px 0 0 0;
    width: 28px;
    height: 29px;
  }

  .bottom-title__icon {
    margin: 572px 0 0 0;
    width: 28px;
    height: 29px;
  }

  .top-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 17px 0 38px 0;
    width: 350px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .top-title._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 100px 100px 0 100px;
    justify-content: space-between;
  }

  .block {
    height: 216px;
    width: 434px;
    margin: 3px 0 115px 0;
  }

  .block-icon {
    width: 52px;
    height: 52px;
  }

  .block__title {
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    margin: 14px 0 40px 0;
  }

  .block__content {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.32px;
    color: #8796AE;
  }

  .lightpaper {
    position: absolute;
    top: 1158px;
    left: 0;
    height: 312px;
    width: 1545px;
    background-color: #1F65D9;

  }

  .lightpaper__img {
    position: absolute;
    top: 1083px;
    right: 345px;
    width: 680px;
    height: 680px;
    background-image: url('../img/broshure1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  }

  .lightpaper__svg {
    position: absolute;
    top: 1228px;
    left: 375px;
    width: 250px;
    height: 300px;
    opacity: 0.1;
  }

  .lightpaper__title {
    font-family: "Proxima Nova";
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 65px 0 0 375px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__title._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .lightpaper__subtitle {
    position: absolute;
    top: 70px;
    left: 638px;
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.8px;
    width: 240px;
    color: #FFFFFF;
    margin: 36px 0 0 30px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .lightpaper__subtitle._active {
    transform: translate(0, 0);
    opacity: 1;
  }

  .download-bttn {
    position: absolute;
    left: 473px; 
    top: 1434px;
    background-color: #FCCF18;
    font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #233148;
    padding: 25px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transform: translate(0, 0);
    transition: all 0.5s ease 0s;
  }

  .download-bttn:hover {
    transform: translate(0, 10%);
  }

  .bottom-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #233148;
    margin: 14px 0 38px 0;
    width: 600px;
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
  }

  .bottom-title._active {
    transform: translate(0, 0);
    opacity: 1;
  }
}
