@media (max-width: 1439.9px) {
  body {
    position: relative;
    max-width: 1439.9px;
    margin: 0 auto;
   }

  .main-container {
    height: 2400px;
    padding: 0;
    background: -webkit-linear-gradient(top, #233148 0%,#233148 64%,#EAEFF5 64%,#EAEFF5 100%);
  } 

  .main-container__inner {
    margin: 0 30px;
    // border-left: 1px solid #D9DFE6;
    // border-right: 1px solid #D9DFE6;
  }

  .top-title__icon {
    margin: 90px 0 0 0;
  }

  .bottom-title__icon {
    margin: 536px 0 0 0;
  }

  .top-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 11px 0 38px 0;
  }

  .blocks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

  }

  .block {
    height: 216px;
    margin: 3px 0 0 0;
  }

  .block__title {
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    margin: 8px 0 28px 0;
  }

  .block__content {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #8796AE;
  }

  .lightpaper {
    position: absolute;
    top: 1148px;
    left: 0;
    height: 410px;
    width: 100%;
    background-color: #1F65D9;

  }

  .lightpaper__img {
    position: absolute;
    top: 1090px;
    right: 0;
    width: 310px;
    height: 400px;
    background-image: url('/img/broshure1.png');
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: 20px 0;
  }

  .lightpaper__svg {
    position: absolute;
    top: 1310px;
    left: 0;
    width: 200px;
    height: 300px;
    opacity: 0.1;
  }

  .lightpaper__title {
    font-family: "Proxima Nova";
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 190px 0 0 30px;
  }

  .lightpaper__subtitle {
    font-family: "Proxima Nova";
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin: 36px 0 0 30px;
  }

  .download-bttn {
    //margin: 400px 0 0 0;
    position: absolute;
    left: 50%; 
    margin-left: -40%;
    // left: auto;
    // right: auto;
    //left: 50%;
  //  right: 50%;
 //   overflow: auto;
    top: 1530px;
    background-color: #FCCF18;
    font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #233148;;
    padding: 18px 94px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    //margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    //z-index: 100;
  }

.bottom-title {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #233148;
    margin: 11px 0 38px 0;
}



  .background-container {
    position: absolute;
    width: 100%;
    height: 305px;
    top: 255px;
    background-image: url('../img/index-background-desktop.jpg');
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: 50% 0%;
    z-index: -1;
   }
}

@media (min-width: 1440px) {
  body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
}

