/* @font-face {
    font-family: "Proxima Nova";
    font-weight: 900;
    src: url('ProximaNova-Xbold.otf') format('opentype');
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 800;
    src: url('ProximaNova-Bold.otf') format('opentype');
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 700;
    src: url('ProximaNova-Black.otf') format('opentype');
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 500;
    src: url('ProximaNova-Reg.otf') format('opentype');
} */

/* @font-face {
    font-family: "Proxima Nova";
    font-weight: 300;
    src: url('ProximaNova-Light.otf') format('opentype');
} */